.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;

}

.box {
    margin-left: 30rem;
    margin-right: 30rem;
}

.default-img{
    background: url(http://placekitten.com/g/600/300) no-repeat;
}
