
.green {
    color: #00991c;
  letter-spacing: .25rem;
}

.nav-links {
  width: 40%;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

.logo {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .nav-links{
      width: 70%;
  }

}
